@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
  }
  html {
    font-size: 62.5%;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }


  .hey {
    display: flex;
    align-items: center;
  }
  
  .west {
    flex: 1;
   text-align: left;
   
  }
  .div8{
    font-size: 3rem;
    margin-left:7rem;
    margin-top:4rem;

  }
  .div9{
    margin-left: 7rem;
    font-size: 2rem;
    font-weight: 300;

  }
  .image {
    flex: 0.7;
    margin-right: 6.5rem;
    margin-left: 2rem;
  }
  .hidden {
    display: none;
  }
  
  .read-more-btn {
    background-color: transparent;
    border: none;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  button{
    color:blueviolet;
  }
  
  .read-more-btn:hover {
    color: darkblue;
  }

  @media only screen and (max-width: 768px) {
    .div8 {
      font-size: 2rem;
      margin-left: 0;
    }
  
    .div9 {
      margin-left: 0;
      font-size: 1.8rem;
    }
  
    .image {
      margin-right: 0;
      margin-left: 0;
    }
  }
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .image {
      order: -1;
      margin: 0;
      margin-top: 4rem;
      margin-left: 1rem;
    }
    .div8{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .div9{
        margin-left: 1rem;
        margin-right: 1rem;

    }
  }
  
  